* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

input[type="checkbox"] {
    display: none;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: background 2s;
    background: linear-gradient(skyblue, #87CEEB);
}

input[type="checkbox"]:checked~.scene {
    background: linear-gradient(#000022, #000000);
}

.sun,
.moon {
    position: absolute;
    top: 50px;
    left: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 1s, box-shadow 1s;
}

.sun {
    background: yellow;
    box-shadow: 0 0 40px 10px yellow;
}

input[type="checkbox"]:checked~.scene .sun {
    background: lightgray;
    box-shadow: 0 0 30px 5px white;
}

.cloud {
    position: absolute;
    top: 100px;
    width: 120px;
    height: 60px;

    background: white;
    border-radius: 60px;
    animation: moveCloud 30s linear infinite;
    opacity: 0.9;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: white;
    border-radius: 50%;
}

.cloud::before {
    width: 60px;
    height: 60px;
    left: -30px;
    top: 0;
}

.cloud::after {
    width: 60px;
    height: 60px;
    left: 60px;
    top: 0;
}

@keyframes moveCloud {
    0% {
        left: -600px;
    }

    100% {
        left: 110%;
    }
}

.mountain {
    position: absolute;
    bottom: 100px;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 200px solid #556B2F;
}

.bird {
    position: absolute;
    font-size: 60px;
    font-family: monospace;
    animation: flap 0.35s linear infinite  ;
  }

.bird2 {
    position: absolute;
    font-size: 60px;
    left: 33px;
    font-family: monospace;
    animation: flap2 0.35s linear infinite  ;
    
  }
.bird3 {
    position: absolute;
    font-size: 60px;
    top: 60px;
    font-family: monospace;
    animation: flap 0.35s linear infinite ;
  }

.bird4 {
    position: absolute;
    font-size: 60px;
    left: 32px;
    top: 60px;
    font-family: monospace;
    animation: flap2 0.35s linear infinite  ;
    
  }

.bird5 {
    position: absolute;
    font-size: 60px;
    top: 100px;
    font-family: monospace;
    animation: flap 0.35s linear infinite ;
  }

.bird6 {
    position: absolute;
    font-size: 60px;
    left: 33px;
    top: 100px;
    font-family: monospace;
    animation: flap2 0.35s linear infinite  ;
    
  }

.birds{
    position: absolute;
    animation: fly 10s linear infinite;
    
}

@keyframes fly {
    0%{
        left: -600px;
    }
    100%{
        left: 110%;
    }
}






@keyframes flap {
    0%{
        rotate: 0deg;
      
    }
    70%{
        rotate: 120deg;
    }
    100%{
        rotate: 20deg;
       
    }
    
}

@keyframes flap2 {
    0%{
        rotate: 0deg;
      
    }
    70%{
        rotate: -120deg;
    }
    100%{
        rotate: 20deg;
      
    }
    
}


                                                                              

.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #228B22;
}

input[type="checkbox"]:checked~.scene .ground {
    background: #013220;
}

.house {
    position: absolute;
    bottom: 100px;
    left: 10%;
    width: 150px;
    height: 150px;
    background: yellowgreen;
}

.house::before {
    content: '';
    position: absolute;
    top: -60px;
    left: -16px;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 60px solid #A52A2A;
}

.chimney {
    position: absolute;
    left: 17%;
    bottom: 250px;
    width: 30px;
    height: 60px;
    background: #A52A2A;
}

.smoke {
    position: absolute;
    left: 18%;
    bottom: 310px;
    width: 20px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    animation: smokeGoAway 2s linear infinite;
    
}

.door{
    position: absolute;
    bottom: 100px;
    left: 14.5%;
    width: 40px;
    height: 70px;
    background: #8B4513;
}

.door::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #87CEEB;
}

.door::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 18px;
    height: 3px;
    border-radius: 30%;
    background: white;
}

.window {
    position: absolute;
    bottom: 190px;
    left: 13%;
    width: 80px;
    height: 40px;
    background: #87CEEB;                                        
}
.window::after {
    content: '';
    position: absolute;
    width: 80px;
    bottom: 18px;
    height: 5px;
    background: brown;
}  

.window::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 40px;
    height: 40px;
    background: brown;
}


@keyframes smokeGoAway {
    0% {
        bottom: 310px;
        opacity: 1;
    }
    100% {
        left: 20%;
        bottom: 500px;
        opacity: 0;
    }
}
                                                                                    

.person {
    position: absolute;
    bottom: 100px;
    left: 80%;
    width: 10px;
    height: 40px;
    background: black;
    animation: climb 5s linear;
    animation-fill-mode: forwards;
}

@keyframes climb {
    0%{
        left: 80%;
        bottom: 100px;
    }
    40%{
        left:53%;
        bottom: 100px;
    }
    60%{
        left: 50%;
        bottom: 150px;
    }
    100%{
        left: 41.3%;
        bottom : 300px;
    }


}


.person::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -5px;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

input[type="checkbox"]:not(:checked)~.scene .stars {
    display: none;
}